@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* custom kamu tetap aman */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.7;
    cursor: pointer;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}
