@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ============================
   DATE INPUT ICON (DARK MODE)
   ============================ */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.7;
    cursor: pointer;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #020617 inset !important;
    box-shadow: 0 0 0px 1000px #020617 inset !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* ============================
   CKEDITOR DARK MODE FIX
   ============================ */

/* area tempat ngetik */
.ck-editor__editable {
    background-color: #020617 !important; /* sama kayak input */
    color: #ffffff !important;
    min-height: 180px;
}

/* toolbar atas */
.ck-toolbar {
    background-color: #0A0F24 !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

/* tombol & icon di toolbar */
.ck.ck-button,
.ck.ck-button svg {
    color: #e5e7eb !important;
}

/* dropdown (Paragraph, Heading, dll) */
.ck-dropdown__panel {
    background-color: #0A0F24 !important;
    color: #ffffff !important;
}

/* focus state */
.ck-editor__editable:focus {
    box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.5); /* emerald */
}
